body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
}

header {
    text-align: center;
    background: rgb(6,5,82);
    background: linear-gradient(to right, rgb(30, 97, 184) , rgb(44, 13, 102));
    color: whitesmoke;
    padding: 10px;
    height: 80px;
    line-height: 60px;
    font-size: 200%;
}

main {
    margin: 10px;
    width: 75%;
}

aside {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 175%;
    margin-bottom: 10px;
}

h3, 
h4 {
    font-size: 150%;
}

#city {
    display: block;
    width: 50%;
    margin-bottom: 10px;
    height: 40px;
    padding: 1%;
}

#search-button {
    width: 20%;
    background-color: rgb(41, 99, 223);
    color: whitesmoke;
    border: none;
    padding: 7px;
    margin-bottom: 15px;
}

#search-button:hover {
    background-color: rgb(44, 13, 102);
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.container {
    display: flex;
}

#search,
#currentWeather,
#fiveDayForecast {
    text-align: left;
    margin: 10px;
}

#buttonPlaceholder {
    border-top: 3px solid rgb(11, 12, 53);
    padding-top: 20px;
    width: 50%;
}

.newCity {
    background-color: rgb(172, 177, 189);
    width: 100%;
    border: none;
    padding: 7px;
    margin-bottom: 15px;
}

.newCity:hover {
    background-color: rgb(41, 99, 223);
    color: whitesmoke;
    cursor: pointer;
}

#currentWeather {
    width: 98%;
    border: solid 2px black;
    padding: 20px;
    
}

#currentWeather p {
    margin-bottom: 20px;
    font-size: 18px;
}

#weatherIcon {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.favorable {
    background-color: rgb(5, 71, 5);
    max-width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: whitesmoke;

}

.moderate {
    background-color: rgb(187, 146, 14);
    max-width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: whitesmoke;
}

.severe {
    background-color: rgb(122, 12, 12);
    max-width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: whitesmoke;
}

.inline {
    display: inline;
}

#forecastBoxContainer {
    display: flex;
    direction: row;
    width: 100%;
}

#forecastBoxContainer section {
    padding-bottom: 15px;
}

#forecastBoxContainer section p {
    padding-bottom: 10%;
}

#fiveDayForecast section{
    background-color: rgb(66, 66, 87);
    color: whitesmoke;
    margin: 20px;
    width: 300px;
    padding: 10px;
}

@media screen and (max-width: 1100px) {
    #forecastBoxContainer {
        flex-wrap: wrap;
    }   
    #fiveDayForecast section{
        margin: 10px;
        width: 130px;
    }
}


@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    aside, 
    main {
        width: 90% !important;
    }

    #fiveDayForecast section{
        width: 100%;
    }

    #forecastBoxContainer section p {
        padding-bottom: 1%;
    }
}